body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-color: #f8f8f8;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 50%;
	height: 70%;
	border: 2px solid #332097;
	padding: 30px;
	background: #f1f1f1;
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #332097;
	font-size: 18px;
	padding: 10px;
	margin-left: 1%;
}

button {
	float: right;
	background: #332097;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
   text-align: center;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
	margin-left: 1%;
}
.ca:hover {
	text-decoration: underline;
} 

.noErr{
	padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px;
   text-align: center;
   opacity: 0;
}

.inapoi{
  background-color: #9b2929;
  width: 20%;
  margin: 5;
}

.adauga{
	margin-left: 47%;
}